
.page {
  display       : block;
  margin-top    : 40px;
  margin-bottom : 180px;
  width         : 100%;
  min-height    : 100vh;
}

.page .title {
  margin      : 20px auto 0 auto;
  color       : #8BC34A;
  font-size   : 36px;
  font-weight : 800;
  line-height : 1.5;
  text-align  : center;
}

.page .subtitle {
  margin      : 0 auto 40px auto;
  color       : #8BC34A;
  font-size   : 28px;
  font-weight : 400;
  line-height : 1.5;
  text-align  : center;
}

.page .description {
  margin-bottom : 60px;
  padding       : 0 20%;
  font-size     : 18px;
  font-weight   : 400;
  color         : #37474F;
  text-align    : center;
  line-height   : 1.5;
}
