.toc {
  display       : block;
  margin-top    : 40px;
  margin-bottom : 180px;
  width         : 100%;
  min-height    : 100vh;
}

.toc .title {
  margin      : 20px auto;
  color       : #8BC34A;
  font-size   : 36px;
  font-weight : 800;
  line-height : 1.5;
  text-align  : center;
}

.toc .lead {
  margin-bottom : 60px;
  padding       : 0 10%;
  font-size     : 18px;
  font-weight   : 400;
  color         : #37474F;
  text-align    : center;
  line-height   : 1.5;
}

.toc .catalog {
  display         : flex;
  justify-content : center;
  flex-wrap       : wrap;
}

.toc .catalog .lab {
  width         : 350px;
  height        : 480px;
  margin        : 20px 10px;
  padding       : 0;
  border        : solid 1px #CCC;
  border-radius : 5px;
}

.toc .catalog .lab .head {
  padding       : 5px 0 20px 0;
  border-bottom : 2px solid #8BC34A;
  color         : #263239;
  background    : #263239;
  background    : #37474E;
  background    : #eceff1;
}

.toc .catalog .lab .title {
  margin      : 15px 15px 0 15px;
  color       : #263239;
  font-size   : 28px;
  font-weight : 800;
  text-align  : center;
  line-height : 1.5;
}

.toc .catalog .lab .subtitle {
  margin      : 0 15px;
  font-size   : 24px;
  font-weight : 300;
  text-align  : center;
  line-height : 1.5;
}

.toc .catalog .lab .group {
  display     : flex;
  width       : 100%;
  margin      : 0 auto;
  padding     : 20px 0;
  color       : #37474F;
  font-size   : 18px;
  font-weight : 400;
  line-height : 1.5;
  text-align  : center;
  background  : #FAFAFA;
}

.toc .catalog .lab .group .box {
  width       : 33.33%;
  border-left : 1px dashed #CCC;

}

.toc .catalog .lab .group :first-child {
  border : none;
}

.toc .catalog .lab .group .box .label {
  color       : #37474F;
  font-size   : 16px;
  font-weight : 800;
}

.toc .catalog .lab .group .box .value {
  font-size   : 20px;
  font-weight : 400;
}

.toc .catalog .lab .description {
  height        : 200px;
  padding       : 20px 15px;
  font-size     : 18px;
  font-weight   : 400;
  color         : #37474F;
  text-align    : justify;
  line-height   : 1.5;
}

.toc .catalog .lab .controls {
  position : relative;
}

.toc .catalog .lab .controls .start {
  position      : absolute;
  bottom        : -50px;
  right         : 10px;
  padding       : 12px 20px;
  color         : #37474F;
  background    : #8BC34A;
  font-size     : 18px;
  border-radius : 50px;
}
