body {
    background: #37474F;
}

.error {
  display    : table;
  position   : absolute;
  top        : 0;
  left       : 0;
  height     : 100%;
  width      : 100%;
  text-align : center;
}

.error .container {
  display        : table-cell;
  vertical-align : middle;
}

.error .title {
  margin    : 20px 0;
  color     : #CCC;
  font-size : 72px;
}

.error .caption {
  margin      : 20px 0;
  color       : #FAFAFA;
  font-size   : 24px;
  font-weight : 200;
  line-height : 1.7;
}

.error .logo {
  margin : 20px auto;
  width  : 70%;
  height : auto;
}

.error .link  {
  margin      : 20px 10px;
  font-size   : 16px;
}

.error a.link  {
  position   : relative;
  top        : 0;
  transition : top 0.5s;
}

.error a.link:hover {
  position   : relative;
  top        : -15px;
  color      : #CCC;
  transition : all 1s;
}

@media screen and (max-width: 770px) {

  .error {
    transform: scale(0.8);
  }

  .error .caption > p {
    display : inline;
  }

  .error .logo {
    width : 100%;
  }

}
