.friends {
  margin    : 80px 0;
  display   : flex;
  flex-wrap : wrap;
  align-items: center;
  justify-content: center;
}

.friends .friend {
  margin     : 0 40px;
  filter     : grayscale(100%);
  transform  : scale(0.8);
  transition : filter 1s;
}

.friends .friend .title {
  margin     : 10px;
  font-size  : 20px;
  text-align : center;
}

.friends .friend:hover {
  filter     : grayscale(0%);
  transition : filter 1s;
}

.friends .friend a {
  position   : relative;
  top        : 0;
  transition : top 0.5s;
}

.friends .friend a:hover {
  position   : relative;
  top        : -15px;
  transition : top 1s;
}
